<!--users/templates/registration/password_change_form.html-->

{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="card">
    <h5 class="card-header">Send Password reset link</h5>
    <div class="card-body text-center">
      <form class="card-text d-grid gap-2 col-6 mx-auto" method="post">
        {% csrf_token %} {{form.as_p }}
        <input class="btn btn-warning mb-3" type="submit" value="Change" />
      </form>
    </div>
    <div class="card-footer">
      Home
      <a href="{% url 'dashboard' %}"> Back to dashboard</a>
    </div>
  </div>
</div>
{% endblock %}
